@model IEnumerable<WebApplication1.ViewModel.PersonViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron text-center">
    <h2>Index</h2>
</div>



@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMassage" class="alert-danger">
        @TempData["ErrorMessage"].ToString()
    </div>
}



<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.DoB.ToString("dd MMM yyyy")</td>
                <td>@person.Note</td>
                <td><a asp-controller="Person" asp-action="Update" asp-route-id="@person.PersonId">Update</a></td>
            </tr>
        }
    </tbody>
</table>
